.container.sidena
%h1.mt-4 Welcome to Fort Wayne's foodies!
%p This pahe will show you the great business in Fort Wayne, such as food, bars, clothing stores, and much more you can't imagine!
%p To be able to review a place, the user needs to create an account.
%p
%p HAVE FUN!!
