.shared-item_cards-list-image_card_component__contentWrapper.shared-item_cards-list-image_card_component__landscapeImage
  %a.shared-item_cards-list-image_card_component__itemLinkOverlay{"aria-label" => "View SimpleAdmin - Minimal Admin & Dashboard Template", "data-action" => "analytics-event#send", "data-analytics-event" => "[[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Item Card\",\"eventAction\":\"click\",\"eventLabel\":\"whitespace\"}]]", "data-turbo" => "false", :href => "https://themeforest.net/item/simpleadmin-responsive-admin-template/19175629", :title => "SimpleAdmin - Minimal Admin & Dashboard Template"}
  .shared-item_cards-list-image_card_component__imageWrapper
    .shared-item_cards-preview_image_component__carousel.shared-item_cards-preview_image_component__singleImage{:style => "padding-bottom: 50.847457627118644%"}
      %a.shared-item_cards-preview_image_component__imageLink{"data-action" => "analytics-event#send", "data-analytics-event" => "[[\"ec:addProduct\",{\"brand\":\"coderthemes\",\"category\":\"themeforest.net/site-templates/admin-templates\",\"id\":19175629,\"list\":\"Search Results: Category\",\"name\":\"SimpleAdmin - Minimal Admin \\u0026 Dashboard Template\",\"position\":2}],[\"ec:setAction\",\"click\",{\"list\":\"Search Results: Category\"}],[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Ecommerce\",\"eventAction\":\"click\",\"eventLabel\":\"Product click: product list\"}],[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Item Card\",\"eventAction\":\"click\",\"eventLabel\":\"image\"}]]", "data-turbo" => "false", :href => "https://themeforest.net/item/simpleadmin-responsive-admin-template/19175629"}
        %img.shared-item_cards-preview_image_component__image{:alt => "SimpleAdmin - Minimal Admin & Dashboard Template", "data-action" => "error->image-preview#setFallback", "data-carousel-target" => "image", "data-controller" => "image-preview", "data-fallback" => "https://previews.customer.envatousercontent.com/files/278081312/01_simpleadmin.__large_preview.jpg", :height => "300", :loading => "lazy", :src => "https://themeforest.img.customer.envatousercontent.com/files/278081312/01_simpleadmin.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=300&s=81e1d9ed82f6dace2e3f72d160d8d7a3", :style => "left: 0%", :title => "SimpleAdmin - Minimal Admin & Dashboard Template", :width => "590"}
      .shared-item_cards-list-image_card_component__gradient{:style => "padding-top: 50.847457627118644%;"}
        .shared-item_cards-list-image_card_component__buttons
          %a.shared-item_cards-collection_button_component__collection{"aria-label" => "Add to collection", "data-action" => "collection-button#open", "data-bookmark-button-target" => "bookmarkButton", "data-controller" => "collection-button", "data-item-id" => "19175629", :href => "/my/bookmarks/new?item_id=19175629", :rel => "nofollow", :role => "button", :title => "Add to collection"}
            %span.shared-item_cards-collection_button_component__icon
              %svg{:height => "100%", :width => "100%"}
                %use{:href => "/storefront/packs/media/images/icon_spritesheet-9e04cd2de04624687365ca8d78453b83.svg#collection"}
          %span.shared-item_cards-list-image_card_component__buttonSeparator
          %form{:action => "/my/favorites/19175629", "data-action" => "submit->favorite-button#submit favoritesStoreUpdated@window->favorite-button#updateFromStore", "data-controller" => "favorite-button", :method => "post"}
            %input{"data-favorite-button-target" => "formMethod", :name => "_method", :type => "hidden", :value => "post"}
              %button.shared-item_cards-favorite_button_component__favoriteButton{"aria-label" => "Add to Favorites", "data-favorite-button-target" => "favoriteButton", "data-favorited" => "false", "data-item-id" => "19175629", :type => "submit"}
                %svg{:height => "100%", :width => "100%"}
                  %use{:href => "/storefront/packs/media/images/icon_spritesheet-9e04cd2de04624687365ca8d78453b83.svg#heart"}
      .shared-item_cards-list-image_card_component__detailsWrapper
        %h3.shared-item_cards-item_name_component__root
          %a.shared-item_cards-item_name_component__itemNameLink{"data-action" => "analytics-event#send", "data-analytics-event" => "[[\"ec:addProduct\",{\"brand\":\"coderthemes\",\"category\":\"themeforest.net/site-templates/admin-templates\",\"id\":19175629,\"list\":\"Search Results: Category\",\"name\":\"SimpleAdmin - Minimal Admin \\u0026 Dashboard Template\",\"position\":2}],[\"ec:setAction\",\"click\",{\"list\":\"Search Results: Category\"}],[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Ecommerce\",\"eventAction\":\"click\",\"eventLabel\":\"Product click: product list\"}],[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Item Card\",\"eventAction\":\"click\",\"eventLabel\":\"item title\"}]]", "data-turbo" => "false", :href => "https://themeforest.net/item/simpleadmin-responsive-admin-template/19175629", :tabindex => "0"} SimpleAdmin - Minimal Admin  Dashboard Template
        %div
          .shared-item_cards-author_category_component__root
            %i by
            %a.shared-item_cards-author_category_component__link{"data-action" => "analytics-event#send", "data-analytics-event" => "[[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Item Card\",\"eventAction\":\"click\",\"eventLabel\":\"author name\"}]]", "data-turbo" => "false", :href => "https://themeforest.net/user/coderthemes", :rel => "nofollow"}
              coderthemes
            in
            = succeed "}=\"\">" do
              %a.shared-item_cards-author_category_component__link{"data-action" => "analytics-event#send", "data-analytics-event" => "[[\"send\",{\"hitType\":\"event\",\"eventCategory\":\"Item Card\",\"eventAction\":\"click\",\"eventLabel\":\"category\"}]]", :href => "/category/site-templates/admin-templates"}
      .shared-item_cards-list-image_card_component__attrsWrapper
        %ul.shared-item_cards-key_features_component__root
          %li.shared-item_cards-key_features_component__feature
            Multipurpose Admin Dashboard
          %li.shared-item_cards-key_features_component__feature
            Minimal, Simple Admin  Dashboard
          %li.shared-item_cards-key_features_component__feature
            Horizontal
            %span.shared-item_cards-key_features_component__highlight Vertical
            Layout
    .shared-item_cards-list-image_card_component__priceWrapper
      .shared-item_cards-list-image_card_component__info
        .shared-item_cards-list-image_card_component__favAndCollections.shared-item_cards-list-image_card_component__experimentToggleClickableItemCard
          %a.shared-item_cards-collection_button_component__collection{"aria-label" => "Add to collection", "data-action" => "collection-button#open", "data-bookmark-button-target" => "bookmarkButton", "data-controller" => "collection-button", "data-item-id" => "19175629", :href => "/my/bookmarks/new?item_id=19175629", :rel => "nofollow", :role => "button", :title => "Add to collection"}
            %span.shared-item_cards-collection_button_component__icon
              %svg{:height => "100%", :width => "100%"}
                %use{:href => "/storefront/packs/media/images/icon_spritesheet-9e04cd2de04624687365ca8d78453b83.svg#collection"}
          %span.shared-item_cards-list-image_card_component__buttonSeparator
          %form{:action => "/my/favorites/19175629", "data-action" => "submit->favorite-button#submit favoritesStoreUpdated@window->favorite-button#updateFromStore", "data-controller" => "favorite-button", :method => "post"}
            %input{"data-favorite-button-target" => "formMethod", :name => "_method", :type => "hidden", :value => "post"}
              %button.shared-item_cards-favorite_button_component__favoriteButton{"aria-label" => "Add to Favorites", "data-favorite-button-target" => "favoriteButton", "data-favorited" => "false", "data-item-id" => "19175629", :type => "submit"}
                %svg{:height => "100%", :width => "100%"}
                  %use{:href => "/storefront/packs/media/images/icon_spritesheet-9e04cd2de04624687365ca8d78453b83.svg#heart"}
          .shared-item_cards-price_component__root
            $22
          .shared-item_cards-list-image_card_component__ratingWrapper
            .shared-stars_rating_component__root
              .shared-stars_rating_component__starRating{"aria-label" => "Rated 4.83 out of 5, 6 reviews", :role => "img"}
                %span.shared-stars_rating_component__star
                  %svg{:height => "100%", :width => "100%"}
                    %use{:href => "/storefront/packs/media/images/icon_spritesheet-9e04cd2de04624687365ca8d78453b83.svg#stars_5.0"}
              %span.shared-stars_rating_component__starRatingCount{"aria-hidden" => "true"} (6)
          .shared-item_cards-sales_component__root
            364 Sales
          .shared-item_cards-list-image_card_component__lastUpdated.shared-item_cards-list-image_card_component__tinyText
            Last updated: 25 Dec 19
          %button.btn.btn-primary{:type => "button"} Primary
